* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

header {
  background-color: black;
}

.menu {
  display: flex; /* 親要素をFlexboxにする */
  // justify-content: center; /* 横を中央揃えにする */
  // align-items: center; /* 縦を中央揃えにする */
  flex-direction: row;

  padding: 5px;

  &__head {
    color: white;
    margin: 0px 0px 0px 30px;
  }

  &__list {
    margin: 0px 0px 0px auto;
    color: white;
    display: flex;
    list-style: none;
    background-color: red;
  }

  &__list__item {
    margin: 5px 20px 5px 20px;
    background-color: blue;
  }
  &__list__item--member {
    @extend &__list__item;
    background-color: rgb(71, 231, 71);
  }
}

body {
  background-color: rgb(199, 134, 15);
  display: flex;
  flex-flow: column;
  min-width: 210mm;
  min-height: 297mm;
}

main {
  display: flex; /* 親要素をFlexboxにする */
  flex-direction: column;
  justify-content: center; /* 横を中央揃えにする */
  align-items: center;
}

.top-picture {
  margin-top: 30px;
  min-width: 210mm;
  height: 300px;
  background-color: skyblue;
}

.explainment {
  text-align: center;
  background-color: white;
  width: 500px;
  margin: 30px;
}

.articles {
  background-color: orange;
  width: 650px;
  height: 400px;
  padding: 10px;
  overflow-y: scroll;
  &__item {
    width: 600px;
    height: 150px;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: purple;
  }

  &__item__picture {
    background-color: rgb(112, 235, 112);
    width: 200px;
    margin: 10px;
  }
  &__item__introduction {
    width: 400px;
    background-color: rgb(197, 70, 70);
    margin: 10px;
    padding: 10px;
  }
}

.bye-message {
  margin: 20px 0 20px 0;
  background-color: gray;
  text-align: center;
  width: 500px;
}

footer {
  margin-top: auto;
  height: 60px;
  padding: 20px;
  background-color: black;
  text-align: center;
  color: white;
}
